/*
	COLOUR PALETTE

	White        #fff;
	Red          #c54b3c
    Navy         #393b47;
	Off-Black    #2b2e37;
*/
body {
  font-family: "Assistant", sans-serif;
  background-color: #393b47;
}

header {
  background-color: #c54b3c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 1rem;
}

header img, 
h1{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

section {
  background-color: #fff;
  margin: 50px;
  padding: 1rem;
  max-width: 500px;
}
section img{
	max-width: 400px;
}
section p,
section h3{
	padding-top: 1rem;
	padding-bottom: 1rem;
}

aside{
	margin-left: 1rem;
	margin-bottom: 3rem;
	max-width: 300px;
}
aside p{
	padding-top: 1rem;
}

aside,
footer {
  background-color: #2b2e37;
  color: #fff;
  padding: 2rem;
  margin-top: 3rem;
}

footer{
	text-align: center;
}

footer a{
	color: #fff;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h2 {
  color: #fff;
  padding-top: 4rem;
  padding-left: 3rem;
}

/* Mobile View */

/* Medium View */

/* Largest View */
.flex-all{
	display: flex;
}

.flex-container{
display: flex;

}

